.container.feature-list {
    background-color: var(--primary-background-color);
}

.feature__icon-container {
    display: flex;
    background-color: #F5F4FA;
    height: 120px;
    width: 270px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.feature__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}


.feature__list.list {
    display: flex;
}

.feature__item {
    width: 270px;
    margin-right: 30px;

    &:last-child {
            margin-right: 0;
        }
}



.feature__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

    color: #757575;
}