.footer {
    background-color: #2f303a;

    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;


    @media screen and(min-width: 768px) {
            width: 768px;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: baseline;
            
          
        }
    
        @media screen and(min-width: 1200px) {
        width: 1200px;
        align-items: baseline;
        justify-content: flex-start;  
        flex-wrap: nowrap;                  
         
        }
    
}

.footer-container {
    display: flex;
    flex-direction: column;

}

.footer .logo {
    color: var(--third-text-color);        
    text-align: center;

    margin-bottom: 47px;
    @media screen and(min-width: 768px) {
               
        }
    
        @media screen and(min-width: 1200px) {
        margin-bottom: 20px;
        }
}
.address{
    width: 216px;
}

.address-list {
    font-style: normal;
    text-align: center;

    @media screen and(min-width: 768px) {}
    
        @media screen and(min-width: 1200px) {
            text-align: left;
        }

}

.address-item .link {
    color: var(--third-text-color);

    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;

    letter-spacing: 0.03em;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-item:not(:last-child) {
    margin-bottom: 9px;
}

.address-item .link.address-contact {
    color: rgba(255, 255, 255, 0.6);
    ;
}

.address .link:hover,
.address .link:focus {
    color: var(--accent-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-networks {
    text-align: center;

    @media screen and(min-width: 768px) {
            
        }
    
        @media screen and(min-width: 1200px) {
            // margin-left: 70px;
            // margin-right: 93px;
        }
    }

.networks-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;

    color: #FFFFFF;
    
}

.networks-list {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.footer .networks-list {
    background-color: #2F303A;
}


.footer-form{
    display: flex;
    flex-direction: column;
    // margin-left: auto;
    // align-items: center;
    width: 100%;
    align-items: center;
}

.footer-form-subscribe{
    display: flex;
    flex-direction: column;
    width: 100%;
    
    
    @media screen and(min-width: 768px) {
            width: 450px;
    
        }
    
        @media screen and(min-width: 1200px) {
            flex-direction: row;
            width: auto;
            text-align: start;
            
    
        }

}


.footer-subscribe-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;

    color: #FFFFFF;
}

.footer-input-subscribe {
    height: 50px;
    
        background-color: #2F303A;
        outline: none;
    
        padding-top: 15px;
        padding-left: 16px;
        padding-bottom: 15px;

        margin-bottom: 20px;
    
    
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
    
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
        &:focus {
            border: 1px solid var(--accent-text-color);
            transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

    @media screen and(min-width: 768px) {           
    
        }
    
        @media screen and(min-width: 1200px) {
            width: 358px; 
        }
    
    
}


.footer-subscribe-button {
    display: inline-flex;
    align-items: center;
    text-align: center;

    width: 200px;
    height: 50px;
    
    margin-left: auto;
    margin-right: auto;

    color: var(--third-text-color);
    background-color: #2196f3;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.06em;

    cursor: pointer;
    border-radius: 4px;
    border: 0;

    padding: 10px 32px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
                color: var(--third-text-color);
                background-color: #188ce8;
        
                cursor: pointer;
            }

                        @media screen and(min-width: 768px) {

                        }
            
                        @media screen and(min-width: 1200px) {
                            margin-left: 12px;
                        }
}





.footer-subscribe-icon {
    margin-left: 10px;
}